/*  Body */
body{
font-family: 'Roboto', sans-serif;
background-color: #fafafa;
display:flex;
}

/* Para evitar problema com padding e border */
*{
    box-sizing: border-box;
}

/* ------------------ Topo ----------------- */
.topo{
    display:flex;
    height: 54px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 1;
}

/* Logos */
.container-logos{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.logos{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 22px;
    margin-right: 11px;
    
}

.borda-vertical{
    height: 22px;
    width: 1px ;
    background-color: #dbdbdb;
    margin-top: -7px;
    margin-right: 10px;
}

.logo-escrita{
    width: 103px;
    margin-top: 14px;
    margin-bottom: 10px;
}

/* Pesquisar */
.busca{
    width: 215px;
    height: 28px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-size: 12px;
    color: #979797;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ícones */
.icon{
    font-size: 22px;
}

.container-icones{
    width: 144px;
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
}

/* Conteudo */
.conteudo{
display:flex;
justify-content: center;
margin: 0 auto;
width: 100%;
}

/* Coluna 1 */
.coluna1{
    display:flex;
    flex-direction: column;
    margin-top: 88px;
}

/* -------------- Stories -------------- */
.stories{
    width: 614px;
    display: flex;
    border: 1px solid #DBDBDB;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;

}

.stories-post{
    width: 66px;
    height: 86px;
    margin: 18px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.stories-post .background{
    width: 64px;
    height: 64px;
    border-radius:33px ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/Arquivos\ Úteis/stories_background.jpg"); 
    background-size: cover;
}

.background img{
    width: 56px;
    height: 56px;
} 

.stories-post p {
    font-size: 12px;
    color: #262626;
}

.setinha{
    font-size: 26px;
    position:absolute;
    right: 8px;
    bottom: 46px;
    color: #ffffff;
    filter: drop-shadow(1px 1px 2px rgb(31, 30, 30));
}

/* -----------Posts Principais ----------*/ 
 .feed{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.post{
    background-color: #ffffff;
    border: 1px solid #DBDBDB;
    margin-bottom: 60px;

}

.feed :nth-child(3){
    background-color: #ffffff;
    margin-bottom: 0px;
}

.img-post img{
    width: 100%;
}

.head-post video{
    width: 100%;
}

/* --- Posts Principais - Head ---*/ 
.head-post{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 61px;
    padding-left: 17px;
    position: relative;

}

.head-post img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
} 

.post-titulo-usuario{
    margin-left: 15px;
    font-weight: 500;
}

p{
    font-size: 14px;
    color: #262626;   
}

.etc{
    display: flex;
    align-items: center;
    color: #262626;
    font-size: 18px;
    position: absolute;
    right: 18px;
    top: 21px;
}

/*--- Posts Principais - Foot -- */ 
.foot-post{
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    margin: 13px 0;
}

.container-acoes{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.acoes{
    display: flex;
}

.icon-2{
    font-size: 22px;
    margin-right: 18px;
}

.post-likes{
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 18px;
    padding-bottom: 14px;
    margin-top: 8px;
}

.post-likes img{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

strong{
    font-weight: bold;
}

/*-------------------- Sidebar -------------------*/
.sidebar{
    display:flex;
    flex-direction:column;
    width: 293px;
    margin-top: 111px;
    margin-left: 29px;
    position: sticky;
    top:111px
}

/* -- User -- */
.user img{
    width: 56px;
    height: 56px;
}

.user{
    display: flex;
    align-items: center;
}
.user div{
    margin-left: 17px;
}

.user p:nth-child(2){
    color: #8E8E8E;
    margin-top: 2px;
    font-weight: 300;
}

/* -- Sugestões -- */
.sugestoes{
    margin-top:28px;
    display: flex;
    flex-direction: column;
}

.sugestoes p:nth-child(1){
    font-size: 12px;
    color:#8e8e8e;
    font-weight: 500;
}

.sugestoes div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.sugestoes p:nth-child(2){
    font-size: 12px;
    color:#242424;
    font-weight: 500;
}


/* ----- Sugestões-Perfis ----- */
.sugestoes-perfis{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 19px;   
}

.sugestoes-perfis div{
    display: flex;
    align-items: center;
}

.sugestoes-perfis img {
    width: 32px;
    height: 32px;
}

.sugestoes-perfis-info div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 11px;
}

.sugestoes-perfis-info p:nth-child(1){
    font-size: 14px;
    color: #262626;
    font-weight: 500;
}

.sugestoes-perfis-info p:nth-child(2){
    font-size: 12px;
    color: #8e8e8e;
    font-weight: 400;
    margin-top: 6px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color:#139ef2;
    font-weight: 500;
}

/* --------------- Rodapé ----------- */
.rodape{
    margin-top: 33px;
    width: 300px;
}

.rodape p{
    font-size: 11px;
    color: #c7c7c7;
    font-weight: 400;
    margin-bottom: 18px;
}

/* ---------------- Para width menor que 935px -------------*/
@media (max-width:935px) {
    .sidebar{
        display:none;
    }
}

/* --------------------Para mobile menor que 614px -------------- */
.topo-mobile{
    height: 54px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
    left:0;
    top:0;
    z-index: 1;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
}

.container-icones-mobile{
    display: flex;
    align-items: center;
}

.container-logos-mobile{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.barra-inferior-mobile{
    height: 54px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
    left:0;
    bottom:0;
    z-index: 1;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width:614px){    
    .topo-mobile{
        display: inline;
     }
    
    .stories{       
        background-color: #fafafa;
        margin: 0 auto 0 auto;
        border: none;
        
    }

    .feed{
        margin: 0 auto;
        width: 100%;
    }

    .coluna1{
        margin-top: 54px;
        width: 100%;
        overflow: hidden;
    }

    .setinha{
        display: none;
    }

    .barra-inferior-mobile{
        display:inline;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .conteudo{
        width: 100%;
    }
}